<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form action="/users/add" method="post" enctype="multipart/form-data">
    <input type="password" name="password" placeholder="please input password"/><br>
    <input type="email" name="email" placeholder="please input email"/><br>
    <select name="Role">
        <option value="ADMIN"> ADMIN</option>
        <option value="USER"> USER</option>
    </select><br>
    <input type="submit" value="Add user">
</form>
</body>
</html>